<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
>
<head>
    <th:block th:replace="fragments/header :: headerfragment"></th:block>
<!--    <title layout:title-pattern="$CONTENT_TITLE :: $DECORATOR_TITLE">Site Tilte</title>-->
</head>
<body>
        <th:block th:replace="fragments/nav :: navfragment"></th:block>
        <div class="row">
            <div class="col-2">
<!--                <div th:replace="templates/fragments/sidemenu :: sidemenu"></div>-->
            </div>
            <div class="col-10">
                <th:block layout:fragment="pageCustomBody"></th:block>
                <th:block layout:fragment="pageCustomScript"></th:block>
                <th:block layout:fragment="pageCustomCSS"></th:block>
            </div>
        </div>
        <div class="row">
<!--            <div th:replace="templates/fragments/footer :: footerfragment"></div>-->
        </div>
</body>
</html>