<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <title>게시판</title>
    <!-- jQuery 3.5.1  -->
    <script type="text/javascript" th:src="@{/js/jquery-3.5.1.js}"></script>

    <!-- jsGrid 1.5.3  -->
    <link type="text/css" rel="stylesheet" th:href="@{/lib/jsgrid-1.5.3/jsgrid.min.css}" />
    <link type="text/css" rel="stylesheet" th:href="@{/lib/jsgrid-1.5.3/jsgrid-theme.min.css}" />
    <script type="text/javascript" th:src="@{/lib/jsgrid-1.5.3/jsgrid.min.js}"></script>
</head>
<body>
    <h2>게시판</h2>
    <div id="jsGrid"></div>

</body>
<script>
    $(function() {
        $("#jsGrid").jsGrid({
            height: "auto",
            width: "100%",

            sorting: true,
            paging: false,
            autoload: true,

            controller: {
                loadData: function() {
                    var d = $.Deferred();
                    $.ajax({
                        type: "get",
                        url: "/ajax/board/list",
                        dataType: "json",
                        success : function (data) {
                            console.log(data)
                            d.resolve(data);
                        },
                        error : function (request, status, error) {
                            console.log(request, status, error)
                        },
                        complete : function (d) {

                        }
                    })
                    return d.promise();
                }
            },
            fields: [
                { name: "seq", type: "number",align: "center" },
                { name: "title", type: "text", width: "auto", align: "left" },
                { name: "usr_id", type: "text",align: "center" },
                { name: "reg_date", type: "text", align: "center" }
            ]
        });
    });
</script>
</html>